
<h1>Trending Today</h1>

<div class="row">
  <div class="container">
  <% @links.each do |link| %>
      <h2><%= link_to link.title, link %></h2>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small><br>
      <%= link_to "Visit Link", link.url, class: "btn btn-sm btn-light" %>
      <%= link_to like_link_path(link), method: :put, class: "btn btn-sm btn-light" do %>
        <i class="fas fa-arrow-up"></i>
        Upvote
        <%= link.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_link_path(link), method: :put, class: "btn btn-sm btn-light" do %>
        <i class="fas fa-arrow-down"></i>
        Downvote
        <%= link.get_downvotes.size %>
      <% end %>
    <hr>
  <% end %>
  </div>
</div>


